<div> <h1> Datos del Usuario Logueado</h1></div>
    <div class="col-10 bg-dark opacity-75 text-white p-5">
        {{#if session.user}}
            <h2 class="text-center mb-3">Bienvenido {{session.user.first_name}}!</h1>
            <h3>Nombre completo: {{session.user.last_name}}, {{session.user.first_name}}</h5>
            <h3>Rol: {{session.user.rol}}</h5>
            <h3>E-Mail: {{session.user.email}}</h5>
            <h3>Edad: {{session.user.age}}</h5>
            <h3>ID de carrito: {{session.user.cart}}</h5>
        {{/if}}
        <h4 class="text-danger">{{message}}</h4>
        </div>
            <button id="logout">Logout</button>
        </div>
    </div>

<script src="logout.js" type="application/javascript"></script> 

//Necesario el script ahi? Iba solo en "main" no?